<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80"
    placeholder="Filter principals..."
    (input)="_filterChanged($event)"
  />
  <div class="flex items-center gap-2">
    <app-edit-permission-form
      (permissionChange)="grant.emit(prepareGrantArgs($event))"
    >
      <button variant="outline" appEditPermissionFormTrigger>
        <ng-icon hlm name="lucideUserPlus" size="sm" />Add permission
      </button>
    </app-edit-permission-form>
    <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
      Columns
      <ng-icon hlm name="lucideChevronDown" class="ml-2" size="sm" />
    </button>
    <ng-template #menu>
      <hlm-menu class="w-32">
        @for (column of _hidableColumns; track column.id) {
          <button
            hlmMenuItemCheckbox
            class="capitalize"
            [checked]="column.getIsVisible()"
            (triggered)="column.toggleVisibility()"
          >
            <hlm-menu-item-check />
            {{ column.columnDef.id }}
          </button>
        }
      </hlm-menu>
    </ng-template>
  </div>
</div>
<div class="border-border h-[18rem] w-full overflow-auto rounded-md border">
  <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
  @defer {
    <table hlmTable class="w-full">
      <thead hlmTHead>
        @for (headerGroup of _table.getHeaderGroups(); track headerGroup.id) {
          <tr hlmTr>
            @for (header of headerGroup.headers; track header.id) {
              <th hlmTh [attr.colSpan]="header.colSpan">
                @if (!header.isPlaceholder) {
                  <ng-container
                    *flexRender="
                      header.column.columnDef.header;
                      props: header.getContext();
                      let headerText
                    "
                  >
                    <div [innerHTML]="headerText"></div>
                  </ng-container>
                }
              </th>
            }
          </tr>
        }
      </thead>
      <tbody hlmTBody class="w-full">
        @for (row of _table.getRowModel().rows; track row.id) {
          <tr
            hlmTr
            [attr.key]="row.id"
            [attr.data-state]="row.getIsSelected() && 'selected'"
          >
            @for (cell of row.getVisibleCells(); track $index) {
              <td hlmTd>
                <ng-container
                  *flexRender="
                    cell.column.columnDef.cell;
                    props: cell.getContext();
                    let cell
                  "
                >
                  <div [innerHTML]="cell"></div>
                </ng-container>
              </td>
            }
          </tr>
        } @empty {
          <tr hlmTr>
            <td hlmTd class="h-24 text-center" [attr.colspan]="_columns.length">
              No results.
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

<div class="flex items-center justify-between gap-8 sm:flex-row">
  @if (_table.getRowCount() > 0) {
    <span [class]="`${hlmMuted} text-sm`">
      {{ _table.getSelectedRowModel().rows.length }} of
      {{ _table.getRowCount() }} row(s) selected
    </span>
    <div class="flex items-center gap-3">
      <brn-select
        [ngModel]="_table.getState().pagination.pageSize"
        (ngModelChange)="_table.setPageSize($event); _table.resetPageIndex()"
      >
        <hlm-select-trigger class="w-20 inline-flex">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (size of _availablePageSizes; track size) {
            <hlm-option [value]="size">
              {{ size === 10000 ? 'All' : size }}
            </hlm-option>
          }
        </hlm-select-content>
      </brn-select>

      <div class="flex space-x-1">
        <button
          size="sm"
          variant="outline"
          hlmBtn
          [disabled]="!_table.getCanPreviousPage()"
          (click)="_table.previousPage()"
        >
          Previous
        </button>
        <button
          size="sm"
          variant="outline"
          hlmBtn
          [disabled]="!_table.getCanNextPage()"
          (click)="_table.nextPage()"
        >
          Next
        </button>
      </div>
    </div>
  }
  <!-- @else {
    <div class="flex h-full w-full items-center justify-center">
      <div class="text-muted-foreground text-sm">No Data</div>
    </div>
  } -->
</div>
