{
  "singleQuote": true,
  "plugins": ["prettier-plugin-motoko"],
  "tailwindFunctions": ["hlm", "cva"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
