localhost, *.localhost, *.raw.localhost {
    tls internal {
        on_demand
    }

    @openid host openid.localhost
    reverse_proxy @openid openid-provider:11105

    reverse_proxy network:4943
}
