name: 'rabbithole'

services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    platform: linux/amd64
    working_dir: /app
    volumes:
      - ./:/app:rw
      - ../../dist/apps/rabbithole/browser:/app/dist:ro
      - ../permissions-mo:/permissions-mo:ro
    entrypoint: ['sh', '-c', 'scripts/install.sh']
    healthcheck:
      test: ['CMD', 'dfx', 'ping']
      interval: 15s
      timeout: 1m
    tty: true
    expose:
      - 4943

volumes:
  caddy_data:
  caddy_config:
