<!-- <div class="mx-auto max-w-[85rem] px-4 sm:px-6 lg:px-8">
  <div class="flex justify-center gap-x-2">
    <a
      hlmBtn
      class="rounded-full"
      target="_blank"
      variant="ghost"
      href="https://github.com/rabbithole/rabbithole"
    >
      <ng-icon hlm class="mr-2" size="sm" name="lucideGithub" />
      Github
    </a>
    <a
      hlmBtn
      class="rounded-full"
      target="_blank"
      variant="ghost"
      href="https://github.com/rabbithole/rabbithole"
    >
      <ng-icon hlm class="mr-2" size="sm" name="lucideDownload" />
      Download desktop app
    </a>
  </div>

  <div class="mx-auto mt-5 max-w-xl text-center">
    <h1
      class="block text-4xl font-bold text-gray-800 md:text-5xl lg:text-6xl dark:text-neutral-700"
    >
      Rabbithole
    </h1>
  </div>

  <div class="mx-auto mt-5 max-w-3xl text-center">
    <p class="text-lg text-gray-600 dark:text-neutral-400">
      Create secure, end-to-end encrypted file storage with a decentralized and
      reliable solution. Your data is protected thanks to the
      <a
        class="text-blue-600 decoration-2 hover:underline focus:underline focus:outline-none dark:text-blue-500"
        href="https://internetcomputer.org/"
        >Internet Computer</a
      >.
    </p>
  </div>
  <div class="mt-8 flex flex-col items-center justify-center gap-3">
    <ng-content>
      <rbth-internet-identity>
        <button
          type="button"
          class="inline-flex items-center justify-center gap-x-3 rounded-full border border-transparent bg-gradient-to-tl from-blue-600 to-violet-600 px-4 py-3 text-center text-sm font-medium text-white hover:from-violet-600 hover:to-blue-600 focus:from-violet-600 focus:to-blue-600 focus:outline-hidden"
          rbthInternetIdentityTrigger
        >
          <img src="./ic.svg" alt="" width="24px" />
          Sign in with Internet Identity
        </button>
      </rbth-internet-identity>
    </ng-content>
  </div>
</div> -->
<div class="mx-auto max-w-[85rem] px-4 sm:px-6 lg:px-8">
  <div class="flex justify-center gap-x-2">
    <a
      hlmBtn
      class="rounded-full"
      target="_blank"
      variant="ghost"
      href="https://github.com/faragly/ic-2fa-auth"
    >
      <ng-icon hlm class="mr-2" size="sm" name="lucideGithub" />
      Github
    </a>
    @if (!isTauri) {
    <a
      hlmBtn
      class="rounded-full"
      target="_blank"
      variant="ghost"
      href="https://github.com/faragly/ic-2fa-auth/releases"
    >
      <ng-icon hlm class="mr-2" size="sm" name="lucideDownload" />
      Download desktop app
    </a>
    }
  </div>

  <div class="mx-auto mt-5 max-w-xl text-center">
    <h1
      class="block text-4xl font-bold text-gray-800 md:text-5xl lg:text-6xl dark:text-neutral-700"
    >
      {{ appName }}
    </h1>
  </div>

  <div class="mx-auto mt-5 max-w-3xl text-center">
    <p class="text-lg text-gray-600 dark:text-neutral-400">
      Create secure, end-to-end encrypted file storage with a decentralized and
      reliable solution. Your data is protected thanks to the
      <a
        class="text-blue-600 decoration-2 hover:underline focus:underline focus:outline-none dark:text-blue-500"
        href="https://internetcomputer.org/"
        >Internet Computer</a
      >.
    </p>
  </div>
  <div class="mt-8 flex flex-col items-center justify-center gap-3">
    <ng-content>
      <button
        type="button"
        class="focus:outline-hidden inline-flex items-center justify-center gap-x-3 rounded-full border border-transparent bg-gradient-to-tl from-blue-600 to-violet-600 px-4 py-3 text-center text-sm font-medium text-white hover:from-violet-600 hover:to-blue-600 focus:from-violet-600 focus:to-blue-600"
        (click)="authService.signIn()"
      >
        <img src="./ic.svg" alt="" width="24px" />
        Sign in with Internet Identity
      </button>
    </ng-content>
  </div>
</div>
