@if (isAdmin.value()) {
  <div hlmSidebarGroup>
    <div hlmSidebarGroupLabel>Administration</div>
    <button
      hlmSidebarGroupAction
      type="button"
      aria-controls="administration-navigation"
      aria-label="Toggle administration menu"
      [attr.aria-expanded]="administrationNavExpanded()"
      (click)="toggleAdministrationNav()"
    >
      <ng-icon
        hlmIcon
        name="lucideChevronDown"
        size="sm"
        class="transition-transform"
        [class.rotate-180]="administrationNavExpanded()"
      />
    </button>
    <div
      hlmSidebarGroupContent
      id="administration-navigation"
      class="group-data-[collapsible=icon]:!block"
      [class.hidden]="!administrationNavExpanded()"
    >
      <ul hlmSidebarMenu>
        @for (item of administrationNavItems; track item.route) {
          <li hlmSidebarMenuItem>
            <a
              hlmSidebarMenuButton
              [routerLink]="item.route"
              routerLinkActive
              #rla="routerLinkActive"
              [routerLinkActiveOptions]="{ exact: item.exact }"
              [isActive]="rla.isActive"
              [tooltip]="item.label"
            >
              <ng-icon hlmIcon [name]="item.icon" size="sm" hlmMenuIcon />
              <span>{{ item.label }}</span>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
}
