<div hlmSidebarGroup>
  <div hlmSidebarGroupLabel>Workspace</div>
  <div hlmSidebarGroupContent>
    <ul hlmSidebarMenu>
      <li hlmSidebarMenuItem [class]="menuItemClass">
        <a
          rbthSidebarMenuButton
          routerLink="/dashboard"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #storagesRla="routerLinkActive"
          [isActive]="storagesRla.isActive"
          [hlmTooltip]="'Storages'"
          [tooltipDisabled]="tooltipDisabled()"
          position="right"
        >
          <ng-icon hlmIcon name="lucideBoxes" size="sm" hlmMenuIcon />
          <span>Storages</span>
        </a>
      </li>

      <li hlmSidebarMenuItem [class]="menuItemClass">
        <a
          rbthSidebarMenuButton
          routerLink="/dashboard/shared-with-me"
          routerLinkActive
          #sharedWithMeRla="routerLinkActive"
          [isActive]="sharedWithMeRla.isActive"
          [hlmTooltip]="'Shared with me'"
          [tooltipDisabled]="tooltipDisabled()"
          position="right"
        >
          <ng-icon hlmIcon name="lucideShare2" size="sm" hlmMenuIcon />
          <span class="min-w-0 flex-1 truncate">Shared with me</span>
        </a>
      </li>
    </ul>
  </div>
</div>
