server {
    listen 80;

    location / {
        proxy_pass http://replica:4943;
        proxy_set_header Host ${CANISTER_ID}.raw.localhost;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_http_version 1.1;
    }
}
