@import '../../../libs/shared-assets/styles/shared-styles.css';

@source './**/*.{ts,html}';

@layer base {
  .shadow-custom-md {
    --tw-shadow:
      0 0 0 1px rgba(51, 51, 51, 0.04), 0 1px 1px 0.5px rgba(51, 51, 51, 0.04),
      0 3px 3px -1.5px rgba(51, 51, 51, 0.02),
      0 6px 6px -3px rgba(51, 51, 51, 0.04),
      0 12px 12px -6px rgba(51, 51, 51, 0.04),
      0 24px 24px -12px rgba(51, 51, 51, 0.04),
      0 48px 48px -24px rgba(51, 51, 51, 0.04),
      inset 0 -1px 1px -0.5px rgba(51, 51, 51, 0.06);
    --tw-shadow-colored:
      0 0 0 1px var(--tw-shadow-color), 0 1px 1px 0.5px var(--tw-shadow-color),
      0 3px 3px -1.5px var(--tw-shadow-color),
      0 6px 6px -3px var(--tw-shadow-color),
      0 12px 12px -6px var(--tw-shadow-color),
      0 24px 24px -12px var(--tw-shadow-color),
      0 48px 48px -24px var(--tw-shadow-color),
      inset 0 -1px 1px -0.5px var(--tw-shadow-color);
  }

  .shadow-custom-md,
  .shadow-custom-sm {
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
    }
    70% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
